body {
    margin:0px;
    width: 100%;
    font-family: Garamond, serif;
    padding: 2px;
}

#content {
    margin-left:20%;
    padding:20px;
    width: 60%;
}

p {
   text-indent:1cm;
   text-align:justify;		
}

.footref {
    text-decoration:none;
    font-weight: bold;
    color:red;
}

.numref {
    text-decoration:none;
    font-weight: bold;
    color:red;
}

.sidenote {
    all: initial;
    font-family: Garamond, serif;
    font-size:80%;
    text-indent:0px;
    text-align:left;
    border-top: 2px dotted gray;
    width: 25%;
    margin-bottom:15px;
    float: right;
    clear: right;
    display: block;
    margin-right: -27%;
    padding:2px;
}
h2 .sidenote {
    font-size:50%;
}
h3 .sidenote {
    font-size:70%;	 
}
h4 .sidenote {
    font-size:80%;	 
}
h5 .sidenote {
    font-size:45%;	 
}
h6 .sidenote {
    font-size:45%;	 
}

.noteg {
    all: initial;
    font-family: Garamond, serif;
    font-size:90%;
    text-indent:0px;
    text-align:justify;
    text-indent:0;
    padding:2px;
    width: 25%;
    margin-bottom:15px;
    float: left;
    clear: left;
    display: block;
    margin-left: -27%;
}

/* for mobile portrait */
@media (orientation:portrait){
    #content {
	margin-left:3%;
	width: 90%;
    }
    html {
	font-size:280%;
    }
    .sidenote{
	display:none;
    }
    .noteg{
	display:none;
    }
    #footnotes{
	display:inline;
    }
}

@media (orientation:landscape){
    @media (max-width:984px){
	html{
	    font-size:150%;
	}
	@media (max-width:1200px){
	    font-size:150%;
	}
    }
}

@media (orientation:landscape) {
    #table-of-contents{
	all: initial;
	position:fixed;
	top:30px;
	font-size:90%;
	text-indent:0px;
	text-align:left;
	background-color:#EBEBEB;
	padding:4px;
	padding-left:10px;
	width:17%;
	float: left;
	clear: left;
	display: block;
	margin-left:-19%;
	text-overflow:clip;
	overflow-wrap: anywhere;
    }
    #text-table-of-contents{
	margin-left:0px;
    }
    #text-table-of-contents li, li li, li li li, li li li li, li li li li li, li li li li li li{
	margin-left:-25px;
    }
}

.footdef .footpara {
    margin-top:-45px;
}



